
/*font is subject to change*/
.about {
    position: relative;
    width: 100%;
    height: 420px;
    background: url(https://media.vietnamplus.vn/images/617e297a1894638885dfa115368ad869322f3a21a3fb851d452bfe67c3d382fc0b0c46ec8a46b9456e40c1f1f1dddaaa4e9eeeecda49b8a9dd404f77020e3e0f/viet-nam-thang-thai-lan-2.jpg);
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.content {
    position: relative;
    width: 100%;
    height: 420px;
    z-index: 2;
    padding: 115px;
    background: rgba(0, 0, 0, 0.5);

}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

body {
    font-family: 'Times New Roman', Times, serif
}

.link {
    color: rgba(203, 123, 2, 0.764)
}

.para {
    color: #545454e6;
    font-size: 20px;
    text-align: left;
    padding-bottom: 40px;
}

.paraend {
    color: #545454e6;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.title {
    color: #3c3c3c;
    margin-left: 40px;
    text-align: left
}

.email {
    text-align: center;
}

.buttone {
    background-color: #343434;
    color: #fff
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding-bottom: 50px;
    align-items: center;
    /* Align items to center */
    margin: 0 50px;
}

.grid-item.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center content vertically */
    text-align: center;
    flex-wrap: wrap;
}

.grid-item.center img {
    max-width: 450px;
    /* Set a fixed width for the image */
    height: auto;
    border-radius: 6px;
    display: block;
    margin-bottom: 10px;
    /* Add spacing between image and text */
}

.grid-item.center p {
    margin: 0;
    font-size: 16px;
    /* Adjust font size for better balance */
    color: #545454e6;
    text-align: center;
}

/* Optional: Reduce margin for smaller screens */
@media (max-width: 768px) {

    .grid-container,
    .grid-container2 {
        margin: 0 20px;
    }
}

.title1 {
    color: #ff7f66;
    text-align: left;
    font-style: italic;

    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .title1 {
        text-align: center;
        /* Center text on smaller screens */
    }
}

.title2 {
    color: #ff7f66;
    text-align: right;
    font-style: italic;
    padding-top: 100px;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .title2 {
        text-align: center;
        /* Center text on smaller screens */
    }
}


.grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding-bottom: 50px;
    align-items: start;
    margin: 0 50px;
}